.nav {
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  height: 50px;
}
.navlinks {
  display: flex;
  gap: 2rem;
}
.navlinks a {
  text-decoration: none;
  color: #000000;
}
.navlinks a:hover {
  color: #0022FF;
  transition: 500ms ease-in-out;
}
.extralinks {
  display: flex;
  gap: 1rem;
}
.loginBTN {
  height: 30px;
  border-radius: 0.6rem;
  border: none;
  width: 110px;
  background-color: #3a52ed;
  color: #ffffff;
  font-weight: 600;
}
