/* Navbar Section */

.nav {
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  height:70px;
}
.navlinks {
  display: flex;
  gap: 2rem;
}
.navlinks a {
  text-decoration: none;
  color: #000000;
}
.navlinks a:hover {
  color: #0022FF;
  transition: 500ms ease-in-out;
}
.extralinks {
  display: flex;
  gap: 1rem;
}
.loginBTN {
  height: 30px;
  border-radius: 0.6rem;
  border: none;
  width: 110px;
  background-color: #3a52ed;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
}
.logo{
  width: 80px;
  cursor: pointer;
}
/* Banner Section */
.banners {
  margin-top: 0%;
}
.bannerImg {
  height: 500px;
  background-size: cover;
  transition: 1s ease-in;
}
.icons1 {
  position: absolute;
  top: 50%;
  transform: translateX(0);
  transform: translateY(-100px);
  left: 5%;
  cursor: pointer;
  color: #ffffff;
  background: #6d6d6d;
  border-radius: 1rem;
  
}
.icons2 {
  position: absolute;
  top: 50%;
  transform: translateX(0);
  transform: translateY(-100px);
  right: 5%;
  cursor: pointer;
  color: #ffffff;
  background: #6d6d6d;
  border-radius: 1rem;
}
.dots {
  display: flex;
  justify-content: center;
  color: #ffffff;
  padding-top: 30rem;
}
.dotsOnClick {
  cursor: pointer;
}
.imgText {
  position: absolute;
  top: 40%;
  left: 10%;
  z-index: 1;
  color: white;
  font-size: 2rem;
 width: 40%;
 transform: translateX(0);
 transform: translateY(-100px);
}